@import "tailwindcss";

@theme {
  --color-logo-gray: #555c6c;
  --color-highlight: #f4eade;
  --color-dark: #364349;
  --color-primary: #ed8c72;

  --font-logo: "Sigmar", sans-serif;
  --font-display: "Inter", sans-serif;
}

/* Universal settings */
button:hover {
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 400ms ease-in forwards;
}
